@mixin text ($ff, $fs, $fw, $fz, $lh, $ta ) {   
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    text-align: $ta;
}

@mixin actv-flex ($d, $ai ,$jc) {
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}