@media screen and (max-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }
  .subtitle-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    margin-top: 15px;
    color: #666666;
  }
  .main-page {
    width: 100%;
    height: 540px;
    background: rgba(0, 0, 0, 0.5) url(../img/main-page/0dc63d9ccd142ecdbf799689440dc6be.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  .main-page__logo {
    display: none;
  }
  .main-page__connect {
    margin: 0 auto;
    margin-top: 20px;
    width: 153px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    line-height: 36px;
    color: white;
  }
  .main-page__btn-log {
    width: 40%;
    height: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
  }
  .main-page__btn-sign {
    width: 60%;
    height: 100%;
    border: 2px solid white;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
  }
  .main-page__container {
    width: 280px;
    height: 234px;
    margin: 0 auto;
    margin-top: 97px;
    color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-page__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .main-page__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
  .main-page__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #f7f3f2;
  }
  .main-page__btn-cont {
    width: 100%;
    height: 40px;
    background-color: #ff4e50;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }
  .steps {
    width: 300px;
    height: 780px;
    margin: 35px auto;
  }
  .steps__step-1 {
    width: 300px;
    height: 240px;
    margin: 15px 0px 0 0px;
    background-image: url(../img/steps/step-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    color: white;
  }
  .steps__btn {
    width: 70px;
    height: 20px;
    border-radius: 40px;
    background-color: #ff4e50;
    margin: 64px 0 0 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }
  .steps__title {
    margin: 38px 0 0 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 14px;
    text-align: left;
  }
  .steps__subtitle {
    width: 250px;
    margin: 25px 0 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
  .steps__step-2 {
    width: 300px;
    height: 240px;
    overflow: hidden;
    margin: 10px 0 0 0;
    background-image: url(../img/steps/step-2.png);
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 4px;
  }
  .steps__step-3 {
    width: 300px;
    height: 240px;
    overflow: hidden;
    margin: 10px 0 0 0;
    background-image: url(../img/steps/step-3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    color: white;
  }
  .partners {
    margin: 0 auto;
    width: 300px;
    height: 1060px;
  }
  .partners__partner-1 {
    width: 236px;
    height: 205px;
    margin: 14px 0 0 32px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .partners__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
  .partners__partner-2 {
    width: 236px;
    height: 205px;
    margin: 17px 0 0 32px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners__partner-3 {
    width: 236px;
    height: 205px;
    margin: 14px 0 0 32px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners__partner-4 {
    width: 236px;
    height: 205px;
    margin: 14px 0 0 32px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners__btn {
    width: 280px;
    height: 40px;
    margin: 0 auto;
    margin-top: 36px;
    border: 2px solid #ff4e50;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #ff4e50;
  }
  .activities {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
  }
  .activities__text {
    width: 206px;
    height: 54px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .activities__box-1 {
    width: 300px;
    height: 120px;
    margin: 33px 0 10px 0;
    background-image: url(../img/actv/1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__box-2 {
    width: 300px;
    height: 120px;
    margin: 0 0 10px 0;
    background-image: url(../img/actv/2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__box-3 {
    width: 300px;
    height: 120px;
    margin: 0 0 10px 0;
    background-image: url(../img/actv/3.png);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__box-4 {
    width: 300px;
    height: 120px;
    margin: 0 0 10px 0;
    background-image: url(../img/actv/4.png);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__box-5 {
    width: 300px;
    height: 120px;
    margin: 0 0 10px 0;
    background-image: url(../img/actv/5.png);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__box-6 {
    width: 300px;
    height: 120px;
    margin: 0 0 10px 0;
    background-image: url(../img/actv/6.png);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__box-7 {
    width: 300px;
    height: 120px;
    margin: 0 0 35px 0;
    background-image: url(../img/actv/7.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0 10px 0;
    border: 1px solid #D4D4D4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
  }
  .activities__form ::-webkit-input-placeholder {
    color: #999999;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  .activities__form :-ms-input-placeholder {
    color: #999999;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  .activities__form ::-ms-input-placeholder {
    color: #999999;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  .activities__form ::placeholder {
    color: #999999;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  .activities__btn {
    width: 100%;
    height: 40px;
    background-color: #ff4e50;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: white;
  }
  .footer {
    width: 320px;
    height: 224px;
    margin-top: 40px;
    border-top: 2px solid #ff4e50;
  }
  .footer__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ff4e50;
    margin: 21px auto 4px auto;
  }
  .footer__link {
    width: 180px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #999999;
    margin: 0 auto;
  }
  .footer__subtitle {
    margin: 9px auto 1px auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .footer__subsubtitle {
    margin: 13px auto 7px auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #cccccc;
  }
  .footer__logo {
    width: 110px;
    height: 24px;
    background-image: url(../img/footer.png);
    background-size: cover;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=max-width:320px.css.map */