@import '../base/_mixins.scss';
@media screen and (max-width: 480px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }
    .title {
        @include text (Montserrat, normal, 700, 22px, 22px, center);
    }
    .subtitle-text {
        @include text (Roboto, normal, 300, 18px, 14px, center);
        margin-top: 15px;
        color: rgba(102, 102, 102, 1);
    }
    .main-page {
        width: 100%;
        height: 540px;
        background: rgba(0, 0, 0, 0.5) url(../img/main-page/0dc63d9ccd142ecdbf799689440dc6be.png);
        background-size: cover;
        background-position: center;
        overflow: hidden;
        &__logo {
            display: none;
        }
        &__connect {
            margin: 0 auto;
            margin-top: 20px;
            width: 153px;
            height: 36px;
            display: flex;
            text-align: center;
            line-height: 36px;
            color: white;
        }
        &__btn-log {
            width: 40%;
            height: 100%;
            @include text(Montserrat, normal, 300, 14px, 36px, left);
        }
        &__btn-sign {
            width: 60%;
            height: 100%;
            border: 2px solid white;
            border-radius: 40px;
            @include text (Montserrat, normal, 300, 14px, 32px, center);
        }
        &__container {
            width: 280px;
            height: 234px;
            margin: 0 auto;
            margin-top: 97px;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title {
            @include text(Montserrat, normal, 700, 20px, 24px, center);
        }
        &__subtitle {
            @include text(Montserrat, normal, 700, 30px, 37px, center);
        }
        &__text {
            @include text (Roboto, normal, 300, 18px, 24px, center);
            color: rgba(247, 243, 242, 1);
        }
        &__btn-cont {
            width: 100%;
            height: 40px;
            background-color: rgba(255, 78, 80, 1);
            border-radius: 40px;
            @include text(Montserrat, normal, 700, 14px, 40px, center);
        }
    }
    .steps {
        width: 300px;
        height: 780px;
        margin: 35px auto;
        &__step-1 {
            width: 300px;
            height: 240px;
            margin: 15px 0px 0 0px;
            background-image: url(../img/steps/step-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            color: white;
        }
        &__btn {
            width: 70px;
            height: 20px;
            border-radius: 40px;
            background-color: rgba(255, 78, 80, 1);
            margin: 64px 0 0 20px;
            @include text(Montserrat, normal, 400, 10px, 20px, center);
        }
        &__title {
            margin: 38px 0 0 20px;
            @include text(Montserrat, normal, 700, 24px, 14px, left);
        }
        &__subtitle {
            width: 250px;
            margin: 25px 0 0 20px;
            @include text(Roboto, normal, 300, 14px, 14px, left);
        }
        &__step-2 {
            width: 300px;
            height: 240px;
            overflow: hidden;
            margin: 10px 0 0 0;
            background-image: url(../img/steps/step-2.png);
            background-size: cover;
            background-position: center;
            color: white;
            border-radius: 4px;
        }
        &__step-3 {
            width: 300px;
            height: 240px;
            overflow: hidden;
            margin: 10px 0 0 0;
            background-image: url(../img/steps/step-3.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            color: white;
        }
    }
    .partners {
        margin: 0 auto;
        width: 300px;
        height: 1060px;
        &__partner-1 {
            width: 236px;
            height: 205px;
            margin: 14px 0 0 32px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__photo {
            display: flex;
            justify-content: center;
        }
        &__name {
            @include text(Montserrat, normal, 700, 14px, 17px, center);
        }
        &__text {
            @include text(Roboto, normal, 300, 14px, 14px, center);
        }
        &__partner-2 {
            width: 236px;
            height: 205px;
            margin: 17px 0 0 32px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__partner-3 {
            width: 236px;
            height: 205px;
            margin: 14px 0 0 32px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__partner-4 {
            width: 236px;
            height: 205px;
            margin: 14px 0 0 32px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__btn {
            width: 280px;
            height: 40px;
            margin: 0 auto;
            margin-top: 36px;
            border: 2px solid rgba(255, 78, 80, 1);
            border-radius: 40px;
            @include text(Montserrat, normal, 700, 14px, 36px, center);
            color: rgba(255, 78, 80, 1);
        }
    }
    .activities {
        width: 300px;
        margin: 0 auto;
        overflow: hidden;
        &__text {
            width: 206px;
            height: 54px;
            margin: 0 auto;
            @include text(Montserrat, normal, 700, 22px, 22px, center);
            align-items: center;
            color: white;
        }
        &__box-1 {
            width: 300px;
            height: 120px;
            margin: 33px 0 10px 0;
            background-image: url(../img/actv/1.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__box-2 {
            width: 300px;
            height: 120px;
            margin: 0 0 10px 0;
            background-image: url(../img/actv/2.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__box-3 {
            width: 300px;
            height: 120px;
            margin: 0 0 10px 0;
            background-image: url(../img/actv/3.png);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__box-4 {
            width: 300px;
            height: 120px;
            margin: 0 0 10px 0;
            background-image: url(../img/actv/4.png);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__box-5 {
            width: 300px;
            height: 120px;
            margin: 0 0 10px 0;
            background-image: url(../img/actv/5.png);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__box-6 {
            width: 300px;
            height: 120px;
            margin: 0 0 10px 0;
            background-image: url(../img/actv/6.png);
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__box-7 {
            width: 300px;
            height: 120px;
            margin: 0 0 35px 0;
            background-image: url(../img/actv/7.jpg);
            background-size: cover;
            background-position: top;
            border-radius: 4px;
            overflow: hidden;
            @include actv-flex (flex, center, center);
        }
        &__form {
            input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 15px 0 10px 0;
                border: 1px solid #D4D4D4;
                box-sizing: border-box;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
                border-radius: 3px;
            }
             ::placeholder {
                color: rgba(153, 153, 153, 1);
                @include text(Roboto, normal, 300, 14px, 16px, left);
            }
        }
        &__btn {
            width: 100%;
            height: 40px;
            background-color: rgba(255, 78, 80, 1);
            border-radius: 40px;
            @include text(Montserrat, normal, 700, 14px, 40px, center);
            color: white;
        }
    }
    .footer {
        width: 320px;
        height: 224px;
        margin-top: 40px;
        border-top: 2px solid rgba(255, 78, 80, 1);
        &__title {
            @include text(Montserrat, normal, 400, 16px, 20px, center);
            color: rgba(255, 78, 80, 1);
            margin: 21px auto 4px auto;
        }
        &__link {
            width: 180px;
            @include text(Roboto, normal, 300, 14px, 26px, center);
            color: rgba(153, 153, 153, 1);
            margin: 0 auto;
        }
        &__subtitle {
            margin: 9px auto 1px auto;
            @include text(Montserrat, normal, 700, 14px, 17px, center)
        }
        &__subsubtitle {
            margin: 13px auto 7px auto;
            @include text(Montserrat, normal, 700, 10px, 12px, center);
            color: rgba(204, 204, 204, 1);
        }
        &__logo {
            width: 110px;
            height: 24px;
            background-image: url(../img/footer.png);
            background-size: cover;
            margin: 0 auto;
        }
    }
}